<a class="listing" href="{{ .Permalink }}">
  <article class="summary">
    <header>
      <h2>
      {{- if eq .Type "blog" -}}
        {{ humanize .Type }} - {{ .Date.Format "Mon, Jan 2, 2006" }}
      {{- else -}}
        {{ humanize .Type | singularize }} - {{ .Title }}
      {{- end -}}
      </h2>
      {{ if (.Param "students") }}
      <div class="post-contributors">
        By: 
        <ul class="ul-contributors">
        {{ range $student := (.Param "students") }}
        {{ range (where $.Site.Pages "Data.Term" $student) }}
          <li>
          {{- if .Params.title -}}
            {{- .Title -}}
          {{- else -}}
            {{- $student -}}
          {{- end -}}
          </li>
        {{ end }}
        {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ if (.Param "tags") }}
      <div class="post-tags">
        Tags: {{ delimit (.Param "tags") ", " }}
      </div>
      {{ end }}
      {{ if eq .Type "classifieds" }}
      <div class="post-date">
        Posted on: {{ .PublishDate.Format "Mon, Jan 2, 2006" }}
      </div>
      <div class="post-bounties">
        Skills: {{ delimit (.Param "bounties") ", " }}
      </div>
      {{ end }}
    </header>
    <p>{{ .Summary }}</p>
  </article>
</a>
